/**
 * Height comes from child element
 * (quiqqer-bricks-children-slider-container-wrapper)
 */
.quiqqer-productbricks-slider {
    height: auto !important;
}

.quiqqer-productbricks-slider .quiqqer-bricks-children-slider-container-slide {
    display: flex;
}

.quiqqer-productbricks-slider .quiqqer-products-control-product-childrenslider-entry {
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.quiqqer-productbricks-slider .quiqqer-products-control-product-childrenslider-entry a {
    display: inline;
    float: none;
    height: auto;
    width: auto;
}

.quiqqer-productbricks-slider .quiqqer-products-control-product-childrenslider-entry-image {
    float: none;
    height: 50%;
}

.quiqqer-productbricks-slider .quiqqer-products-control-product-childrenslider-entry-image img {
    max-height: 100%;
    max-width: 100%;
}

.quiqqer-productbricks-slider header {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    float: none;
    margin: 1em 0;
}

.quiqqer-productbricks-slider .quiqqer-products-control-product-childrenslider-entry-header-title {
    display: block;
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: inherit;
}

.quiqqer-productbricks-slider .quiqqer-products-control-product-childrenslider-entry-price-regularPrice {
    font-weight: bold;
    margin-top: auto;
}

.quiqqer-productbricks-slider .quiqqer-products-control-product-childrenslider-entry-price-wrapper {
    margin-bottom: 1rem;
}

.quiqqer-productbricks-slider .qui-products-price-display-vat {
    display: block;
    font-weight: normal;
    line-height: 1rem;
}

.quiqqer-productbricks-slider .quiqqer-products-control-product-childrenslider-entry-price-retailPrice {
    margin-top: auto;
    text-decoration: line-through;
}

.quiqqer-productbricks-slider .quiqqer-products-control-product-childrenslider-entry-productButtons {
    margin: auto 0 2em;
    padding: 0 10px;
}

.quiqqer-productbricks-slider .quiqqer-products-control-product-childrenslider-entry-productButtons a {
    display: inline-block;
    float: none;
    margin: 0 5px;
}

/* nav arrows */
.quiqqer-productbricks-slider .quiqqer-bricks-children-slider-prev,
.quiqqer-productbricks-slider .quiqqer-bricks-children-slider-next {
    align-items: center;
    border-color: rgba(51, 51, 51, 0.2);
    border-radius: 0;
    color: #666;
    display: flex;
    height: calc(100% - 2px);
    justify-content: center;
}

.quiqqer-productbricks-slider .quiqqer-bricks-children-slider-mobile .quiqqer-bricks-children-slider-prev:hover,
.quiqqer-productbricks-slider .quiqqer-bricks-children-slider-mobile .quiqqer-bricks-children-slider-next:hover {
    background: rgba(188, 188, 188, 0.5);
}