
.quiqqer-productbricks-categorybox h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 3rem;
}

.quiqqer-bricks-categorybox-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.quiqqer-bricks-categorybox-box {
    border: 1px solid #ddd;
    text-align: center;
    width: calc(33.333333% - 40px);
    min-width: 250px;
    max-width: 300px;
    margin: 30px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: #fff;
    transition: 0.2s all;
    display: flex;
    flex-direction: column;
}

.quiqqer-bricks-categorybox-box:hover {
    box-shadow: 0 0 30px rgba(0,0,0,0.15);
}

.quiqqer-bricks-categorybox-box-image {
    height: 200px;
    padding: 1em;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-size: cover;
}

.quiqqer-bricks-categorybox-box-image a {
    display: block;
    height: 100%;
    color: inherit;
}

.quiqqer-bricks-categorybox-box-image img {
    max-height: 100%;
}

.quiqqer-bricks-categorybox-box-image .fa {
    font-size: 150px;
}

.quiqqer-bricks-categorybox-box-content {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.quiqqer-bricks-categorybox-box-content h3 {
    margin-top: 0;
}

.quiqqer-bricks-categorybox-box-content p {
    color: #aaa;
    font-size: 0.9em;
}

.quiqqer-bricks-categorybox-box-content .btn {
    margin-top: auto;
}


.quiqqer-bricks-categorybox-buttonwrapper {
    text-align: center;
    margin-top: 2em;
}

@media screen and (max-width: 768px) {
    .quiqqer-bricks-categorybox-box {
        width: calc(50% - 40px);
        min-width: 180px;
        max-width: 360px;
        margin: 20px;
    }
}

@media screen and (max-width: 550px) {
    .quiqqer-bricks-categorybox-box {
        width: 100%;
    }
}