.featuredProducts-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.featuredProducts-box {
    flex: 1 0 33.3333334%;
    padding: 0 20px;
    min-width: 300px;
}

.featuredProducts-box-header {
    border-bottom: 1px solid #ddd;
    font-size: 1.5rem;
    margin: 2rem 0;
    padding-bottom: 1rem;
}

.featuredProducts-box-entries {
    list-style: none;
    margin: 0;
    padding: 0;
}

.featuredProducts-box-entries-entry {
    display: flex;
    padding-bottom: 10px;
}

.featuredProducts-box-entries-entry-image {
    height: 50px;
    margin-right: 20px;
    width: 50px;
    flex-shrink: 0;
}

.featuredProducts-box-entries-entry-image a {
    align-items: flex-start;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.featuredProducts-box-entries-entry-image img {
    max-height: 100%;
    max-width: 100%;
}

.featuredProducts-box-entries-entry-content-title {
    display: block;
    font-weight: bold;
    line-height: 100%;
}