.featuredProducts-gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.featuredProducts-gallery-box {
    flex: 1 0 33.3333334%;
    padding: 0 20px;
}

.featuredProducts-gallery-box-header {
    font-size: 1.5rem;
    margin: 2rem 0;
}

.featuredProducts-gallery-box-entries {
    display: flex;
    flex-wrap: wrap;
}

.featuredProducts-gallery-box-entries-entry {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ddd;
    width: 100%;
    margin-bottom: 2rem;
}

.featuredProducts-gallery-box-entries-entry-image {
    flex-shrink: 0;
    height: 150px;
    text-align: center;
    margin-bottom: 1rem;
}

.featuredProducts-gallery-box-entries-entry-image img {
    max-height: 100%;
    max-width: 100%;
}

.featuredProducts-gallery-box-entries-entry-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.featuredProducts-gallery-box-entries-entry-title a {
    color: inherit;
}

.featuredProducts-gallery-box-entries-entry-price {
    margin-bottom: 1rem;
}

.featuredProducts-gallery-box-entries-entry-price .qui-products-price-display-value {
    font-weight: bold;
    margin-bottom: 1rem;
}

.featuredProducts-gallery-box-entries-entry-link {
    margin-top: auto;
}

@media screen and (max-width: 767px) {
    .featuredProducts-gallery-box {
        flex-basis: 100%;
    }

    .featuredProducts-gallery-box-entries {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
        width: 100%;
    }
}