.add-to-basket {
    position: relative;
}

.add-to-basket label {
    cursor: pointer;
    position: relative;
    width: 100%;
}

.add-to-basket .fa {
    left: 0;
    line-height: inherit;
    opacity: 0;
    position: absolute;
    transform: scale(0);
    width: 100%;
}