.add-to-basket {
    overflow: hidden;
    position: relative;
}

.add-to-basket label {
    cursor: pointer;
    position: relative;
    width: 100%;
}

.add-to-basket .icon-animatable {
    left: 0;
    line-height: inherit;
    opacity: 0;
    position: absolute;
    transform: scale(0);
    width: 100%;
}

.add-to-basket-custom-loader {
    background: inherit !important;
}

.add-to-basket-custom-loader .qui-loader-inner-fa-circle-o-notch,
.add-to-basket-custom-loader .qui-loader-inner-fa-gear,
.add-to-basket-custom-loader .qui-loader-inner-fa-refresh,
.add-to-basket-custom-loader .qui-loader-inner-fa-spinner {
    align-items: center;
    color: inherit !important;
    display: flex;
    justify-content: center;
}

.add-to-basket-custom-loader .fa-spin {
    font-size: inherit !important;
    position: initial !important;
}