.quiqqer-productbricks-productslider {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
}

.quiqqer-bricks-promoslider-slide-mobile-slide > a,
.quiqqer-bricks-promoslider-slide > a {
    color: inherit;
}

.quiqqer-productbricks-productslider .quiqqer-bricks-promoslider {
    float: none;
    position: initial;
}


.quiqqer-productbricks-productslider .quiqqer-bricks-promoslider-slide-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 20px 0;
}

.quiqqer-productbricks-productslider .quiqqer-bricks-promoslider-slide-display {
    height: 100%;
    padding: 0;
    position: relative;
    width: 100%;
}

.quiqqer-productbricks-productslider .quiqqer-bricks-promoslider-slide-mobile-display {
    height: 100%;
}

.quiqqer-bricks-promoslider-slide-display .quiqqer-bricks-promoslider-slide-text {
    height: 100%;
    margin-top: 0;
}

/* slides */
.quiqqer-productbricks-productslider-slide {
    align-items: center;
    display: flex;
    height: 100%;
}

/* left */
.quiqqer-productbricks-productslider-slide-left {
    padding-right: 20px;
    width: 50%;
    z-index: 2;
}

.quiqqer-productbricks-productslider-slide-left .quiqqer-productbricks-productslider-slide-left-title {
    font-size: 34px;
    line-height: 1.15em;
}

.quiqqer-productbricks-productslider-slide-left-description {
    line-height: 1.5em;
}

.quiqqer-productbricks-productslider-slide-left-description-prices {
    margin-bottom: 1.5rem;
}

.quiqqer-productbricks-productslider-slide-left-description-prices-retail {
    font-weight: 500;
    margin-bottom: 6px;
    text-decoration: line-through;
}

.quiqqer-productbricks-productslider-slide-left-description-prices-price {
    font-size: 2rem;
    font-weight: 500;
}

.quiqqer-productbricks-productslider-slide-left-description-prices .qui-products-price-display-vat {
    display: block;
    font-weight: normal;
    line-height: 1.5rem;
}

/* right / image */
.quiqqer-productbricks-productslider-slide-right.quiqqer-bricks-promoslider-slide-image {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    padding: 0 0 0 20px;
    text-align: right;
    z-index: 1;
}

.quiqqer-productbricks-productslider-slide-right.quiqqer-bricks-promoslider-slide-image img {
    max-height: 350px;
}

/* slide dots appearance - dark */
.quiqqer-productbricks-productslider[data-dots-appearance="dark"] .quiqqer-bricks-promoslider-dot {
    background: rgba(0, 0, 0, 0.2);
}

.quiqqer-productbricks-productslider[data-dots-appearance="dark"] .quiqqer-bricks-promoslider-dot:hover:hover,
.quiqqer-productbricks-productslider[data-dots-appearance="dark"] .quiqqer-bricks-promoslider-dot:hover:focus,
.quiqqer-productbricks-productslider[data-dots-appearance="dark"] .quiqqer-bricks-promoslider-dot:hover:active,
.quiqqer-productbricks-productslider[data-dots-appearance="dark"] .quiqqer-bricks-promoslider-dot-active,
.quiqqer-productbricks-productslider[data-dots-appearance="dark"] .quiqqer-bricks-promoslider-dot-active:hover,
.quiqqer-productbricks-productslider[data-dots-appearance="dark"] .quiqqer-bricks-promoslider-dot-active:focus,
.quiqqer-productbricks-productslider[data-dots-appearance="dark"] .quiqqer-bricks-promoslider-dot-active:active {
    background-color: #444;
}

/* slide dots appearance - light */
.quiqqer-productbricks-productslider[data-dots-appearance="light"] .quiqqer-bricks-promoslider-dot {
    background: rgba(255, 255, 255, 0.3);
}

.quiqqer-productbricks-productslider[data-dots-appearance="light"] .quiqqer-bricks-promoslider-dot:hover:hover,
.quiqqer-productbricks-productslider[data-dots-appearance="light"] .quiqqer-bricks-promoslider-dot:hover:focus,
.quiqqer-productbricks-productslider[data-dots-appearance="light"] .quiqqer-bricks-promoslider-dot:hover:active,
.quiqqer-productbricks-productslider[data-dots-appearance="light"] .quiqqer-bricks-promoslider-dot-active,
.quiqqer-productbricks-productslider[data-dots-appearance="light"] .quiqqer-bricks-promoslider-dot-active:hover,
.quiqqer-productbricks-productslider[data-dots-appearance="light"] .quiqqer-bricks-promoslider-dot-active:focus,
.quiqqer-productbricks-productslider[data-dots-appearance="light"] .quiqqer-bricks-promoslider-dot-active:active {
    background-color: #eee;
}

@media screen and (max-width: 768px) {
    .quiqqer-productbricks-productslider {
        background-size: auto;
    }

    .quiqqer-productbricks-productslider .quiqqer-bricks-promoslider {
        height: auto;
    }

    .quiqqer-productbricks-productslider .quiqqer-bricks-promoslider-slide-mobile {
        height: 85vh;
        text-align: center;
    }

    .quiqqer-bricks-promoslider-slide-mobile-title {
        line-height: 100%;
    }

    .quiqqer-productbricks-productslider-slide-left-title.quiqqer-bricks-promoslider-slide-title {
        font-size: 28px;
        text-align: center;
    }

    .quiqqer-productbricks-productslider-slide-left-text.quiqqer-bricks-promoslider-slide-text {
        text-align: center;
    }

    .quiqqer-bricks-promoslider-slide-mobile-text {
        height: 100%;
    }

    .quiqqer-productbricks-productslider-slide {
        align-items: center;
        flex-direction: column;
        height: 100%;
    }

    .quiqqer-productbricks-productslider-slide-left {
        flex-grow: 1;
        margin-top: 2rem;
    }

    .quiqqer-productbricks-productslider-slide-left,
    .quiqqer-productbricks-productslider-slide-right {
        padding: 0 20px;
        width: 100%;
    }

    .quiqqer-productbricks-productslider-slide-right.quiqqer-bricks-promoslider-slide-mobile-image {
        align-items: center;
        bottom: 0;
        display: flex;
        flex-shrink: 1;
        height: 50%;
        justify-content: center;
        margin-bottom: 1em;
        overflow: auto;
        padding: 0;
        position: initial;
        top: auto;
    }

    .quiqqer-bricks-promoslider-slide-mobile-dots {
        z-index: 3;
    }
}


/* arrows */
.quiqqer-productbricks-productslider .quiqqer-bricks-promoslider-wallpaper-prev,
.quiqqer-productbricks-productslider .quiqqer-bricks-promoslider-wallpaper-next {
    color: rgba(0, 0, 0, 0.5);
    text-shadow: none;
}

.quiqqer-bricks-promoslider-wallpaper-prev .fa,
.quiqqer-bricks-promoslider-wallpaper-next .fa {
    opacity: 0;
}

.quiqqer-productbricks-productslider:hover .quiqqer-bricks-promoslider-wallpaper-prev .fa,
.quiqqer-productbricks-productslider:hover .quiqqer-bricks-promoslider-wallpaper-next .fa {
    opacity: 1;
}