.quiqqer-productbricks-productslider {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.quiqqer-bricks-promoslider-slide-mobile-slide > a,
.quiqqer-bricks-promoslider-slide > a {
    color: inherit;
}

.quiqqer-productbricks-productslider .quiqqer-bricks-promoslider-wrapper {
    padding-bottom: 20px;
    padding-top: 20px;
}

.quiqqer-productbricks-productslider .quiqqer-bricks-promoslider {
    float: none;
}

.quiqqer-productbricks-productslider .quiqqer-bricks-promoslider-slide-image {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    padding: 0;
}

.quiqqer-productbricks-productslider .quiqqer-bricks-promoslider-slide-image img {
    max-height: 400px;
    max-width: 45%;
}

.quiqqer-productbricks-productslider .quiqqer-bricks-promoslider-slide-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
}

.quiqqer-productbricks-productslider .quiqqer-bricks-promoslider-slide-display {
    padding: 0 20px 0 0;
    position: relative;
}

.quiqqer-productbricks-productslider .slide-product-description {
    line-height: 1.5em;
}

.slide-product-prices-retail {
    font-weight: 500;
    margin-right: 1rem;
    opacity: 0.6;
    text-decoration: line-through;
}

.slide-product-prices-price {
    font-size: 2rem;
    font-weight: 500;
}

.quiqqer-productbricks-productslider .quiqqer-bricks-promoslider-dot {
    background: rgba(0, 0, 0, 0.2);
}

.quiqqer-productbricks-productslider .quiqqer-bricks-promoslider-dot:hover:hover,
.quiqqer-productbricks-productslider .quiqqer-bricks-promoslider-dot:hover:focus,
.quiqqer-productbricks-productslider .quiqqer-bricks-promoslider-dot:hover:active,
.quiqqer-productbricks-productslider .quiqqer-bricks-promoslider-dot-active,
.quiqqer-productbricks-productslider .quiqqer-bricks-promoslider-dot-active:hover,
.quiqqer-productbricks-productslider .quiqqer-bricks-promoslider-dot-active:focus,
.quiqqer-productbricks-productslider .quiqqer-bricks-promoslider-dot-active:active {
    background-color: #444;
}

/* mobile */

.quiqqer-productbricks-productslider .quiqqer-bricks-promoslider-slide-mobile-image {
    align-items: center;
    bottom: 0;
    display: flex;
    height: 50%;
    justify-content: center;
    margin-bottom: 1em;
    padding: 0;
    position: absolute;
    top: auto;
}

@media screen and (max-width: 768px) {
    .quiqqer-productbricks-productslider {
        background-size: auto;
    }

    .quiqqer-productbricks-productslider .quiqqer-bricks-promoslider {
        height: auto;
    }

    .quiqqer-productbricks-productslider .quiqqer-bricks-promoslider-slide-mobile {
        height: 85vh;
        text-align: center;
    }

    .quiqqer-bricks-promoslider-slide-mobile-title {
        line-height: 100%;
    }
}